@media only screen and (min-width:1700px) {
    body {
        /* margin: auto; */
        font-family: 'Outfit', sans-serif;
        background-color: hsl(212, 45%, 89%);
        padding: 63px 236px;
    }
    .qr-code-descr {
        border: none;
        background-color: white;
        margin: auto 470px auto 470px;
        border-radius: 30px;
        padding: 29px;
        box-shadow: 0px 0px 97px -36px hsl(218deg 44% 22%);
    }
    .qr-text {
        text-align: center;
        font-weight: 700;
        padding: 6px 0;
        margin: 19px;
    }
    img {
        width: 100%;
        border-radius: 10px;
    }
    p {
        /* padding: 0 53px; */
        font-weight: 400 !important;
        /* max-width: 363px; */
        color: hsl(220, 15%, 55%);
        font-size: 24px;
    }
}

@media only screen and (max-width:1500px) {
    body {
        margin: auto;
        font-family: 'Outfit', sans-serif;
        background-color: hsl(212, 45%, 89%);
    }
    .qr-code-descr {
        border: none;
        background-color: white;
        margin: 470px 470px auto 470px;
        border-radius: 30px;
        padding: 29px;
        box-shadow: 0px 0px 97px -36px hsl(218deg 44% 22%);
    }
    .qr-text {
        text-align: center;
        font-weight: 700;
        padding: 6px 0;
        margin: 19px;
    }
    img {
        width: 100%;
        border-radius: 10px;
    }
    p {
        /* padding: 0 53px; */
        font-weight: 400 !important;
        /* max-width: 363px; */
        color: hsl(220, 15%, 55%);
        font-size: 24px;
    }
}
